.header-container {
    display:flex;
    flex-direction:column;
}

.logo-item {
    flex:1;
}

.body-item {
    flex:1;
    min-width:100%;
    min-height:100%;
    width:inherit;
}


KeplerGl {
    width: 500px;
}